body{
    font-family: 'Rubik';
}

.container{
    margin-bottom: 50px;
}

.navbar-brand img{
    width: 100px;
}

.navbar-nav .dropdown-menu{
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px lightgray;
}

.nav-link{
    color: gray;
}

.buy-now-btn{
    background: #000;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    transition: all .3s ease;
}

.buy-now-btn:hover{

    background: orange;
}

p{
    color: gray;
}

.carousel-item{
    padding: 10px 30px;
}

.carousel-indicators li{
   background-color: orange;
   height: 5px;  
}

.orange-color{
    color: orange;
    cursor: pointer;
}

.card{
    border: none;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px lightgray;

    transition: all .3s ease;
    -Webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.card:hover{
    box-shadow: 3px 3px 15px rgb(153, 138, 138);
}

#categories{
    text-align: center;
    height: auto;
}

.img-shape{
    text-align: center;
    height: 200px;
    width: 200px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px lightgray;
}

footer{
    border-radius: 10px;
    box-shadow: 2px 2px 10px lightgray;
    padding: 50px 0;
}

footer h2{
    padding-bottom: 20px;
}

footer .input-group{
    padding: 10px 0;
}

.form-control{
    border: none;
    box-shadow: 2px 2px 10px lightgray;
}

div.footer p{
    text-align: center;
    padding: 5px 0;
    margin-top: 10px;
}